@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600;700;800;900&display=swap');
.page-enter-active,
.page-leave-active {
  transition: all 1s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}

.font-exo-2{
  font-family: 'Exo 2', sans-serif;
}
::-webkit-scrollbar {
  display: none;
}
.none{
  display: none;
}